*{

     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Bebas Neue', cursive;
}

body{
    background-color: rgb(99, 99, 99);
    color: white;
}

body hr{
    width: 50%;
    margin-left: 25%;
}



header{
    background-color: rgb(67, 14, 117);
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.navbar ul{

padding: 16px;
font-size: 24px;
position: relative;
display: flex;
list-style: none;

}

.navbar ul li{

    position: relative;
    display: inline-block;
}

.navbar ul:hover{

    background-color: rgb(67, 14, 117) ;

}

.navbar ul ul{
    position: absolute;
    display: none;
    margin: -15px;
    align-items: center;
}

.navbar ul li a{
    display: block;
    padding: 0 15px;
    line-height: 60px;
}


.navbar ul li:hover > ul{
    display: list-item;
}

.navbar ul ul li{
    width: 120px;
    float: none;
    display: list-item;
    position: relative;
}

header .navbar a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 15px;
    position: relative;
}

.navbar a::after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0px;
    padding: 0;
    transition: 0.3s;

}

.navbar a:hover{

    color: rgb(216, 166, 0);
}



.navbar a:hover::after{
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img{
    height: 90px;
}

.logo img:hover{
    height: 100px;
}

    

.nombre-comp{

    color: rgb(216, 166, 0);
}

.toggle-button {
    position: absolute;
    top: 32px;
    right: 32px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{

    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

.slider{
    width: 60%;
    margin: auto;
    height: 500px;
    overflow: hidden;
    padding: 15px 0px 15px 0px;
}

.slider ul{
    padding: 0;
    display: flex;
    width: 310%;
    border-radius: 5px;
    animation: slide 16s infinite;

}

.slider li{
    list-style: none;
    width: 100%;
    
}

.slider li > h1{

    background-color: rgba(255, 255, 255, 0);
    padding: 15px;
    color: rgb(216, 166, 0);
    justify-content: center;
    text-align: center;
    bottom: auto;
    
}

.slider img{
    height: 500px;
    width: 100%;

}

.seccion1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    

}

.seccion1 div {

display: flex;
align-items: center;
flex-direction: column;
gap: 20px;
text-align: center;
padding-left: 75px;
margin: 30px;
}

.seccion1 div > hr{

    background-color: white;
    width: 100%;
    margin: 0;
}

.cuadro img{

    height: 140px;
    padding-left: 30px;
    padding-right: 15px;
}

.categorias{

    padding-top: 30px;
    margin-left: 30%;

    
}

.categorias img{

    width: 900px;
    border-radius: 20px;
    margin: 0;
}

.categorias ul{
    list-style: none;
    margin-left: 25%;
    padding-top: 50px;

}

.categorias ul li{
    padding: 5px;
    
}

#DT{
    color: rgb(221, 192, 24);
}

#AC{
    color: rgb(102, 22, 177);
}

.categorias ul > li{

    margin: 10px;
    align-items: center;

}


.items-galeria{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
    
    
}

.items-galeria:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
    width: 1620px;
    height: 1080px;
}


.galeria-contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

footer{
    background-color: rgb(67, 14, 117);
    color: white;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    padding-top: 10px;
}

.iconos{

    justify-content: end;
    display: flex;
    text-align: center;
}

.iconos a{

    padding: 16px;
}


@keyframes slide{
    0%{margin-left: 0%;}
    28%{margin-left: 0%;}

    33%{margin-left: -105%;}
    62%{margin-left: -105%;}

    66%{margin-left: -209%;}
    100%{margin-left: -209%;}
}


@media screen and (max-width:600px){


    .slider{

        width: 70%;
        margin-top: 120px;
    }


    .seccion1{

        display: row;
        flex-direction: column;
        margin-left: -45px;
        margin-top: 15px;
    }

    .toggle-button{
        display: flex;
    }

    .navbar{
        display: none;
        width: 100%;
        list-style: none;
    }

    .navbar ul {
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .navbar ul ul{
        position: absolute;
        display: none;
        margin: 0;
        padding: 0;
    }

    .navbar ul li ul{
        display: none;

    }

    .navbar ul li:hover > ul{
        display: list-item;
        background-color: rgb(67, 14, 117) ;
        
    }

    .navbar.active{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    
    header{
        flex-direction: column;
        align-items: flex-start;
        text-decoration: none;

    }

    .navbar a::after{

        display: none;
    }

    .categorias img{

        width: 100%;
        border-radius: 20px;
        margin: 0;
        padding: 0;
    }

    .categorias{
        padding-top: 120px;
    }

    .categorias ul > li{
        align-items: center;
        margin: 0;
        padding: 0;
       
    }

    footer{
        flex-direction: column;
        align-items: flex-start;
    }

}


    @media screen and (max-width:1050px){

        .navbar a::after{

            display: none;
        }

        .slider{

            width: 80%
        }


        .categorias ul > li{
            align-items: center;
            margin-left: -10%;

        }

        .categorias img{

            width: 100%;
            border-radius: 20px; 
            margin-left: -20%;
    }
}

@media screen and (max-width:1600px){

    .navbar a::after{

        display: none;
    }

    .slider{

        width: 90%
    }


    .categorias ul > li{
        align-items: center;
        margin-left: -10%;

    }

    .categorias img{

        width: 100%;
        border-radius: 20px; 
        margin-left: -20%;
}

}
